h1{
	background-color: #F0FFFF;
}

lisatieto{
	float:right;
	height:500px;
	background-color: #00F000;
}

body{
	margin.left: 5em;
	background-color: #F0FFA0;
}

p{
	width:600px;
}

h3{
	width:600px;
}

h4{
	width:600px;
}

form {
	 max-width: 60em; margin: 3em; 
	 background-color: #F5F5DC;
	 font-size: 1.3em;
	 font-style: bold;
}
input:optional {
    background-color: #F0F8FF;
	min-height: 3em;
	min-width: 10em;
	border-color:black;
}
.venaja{
	height:200px;
}
.uutinen{
	width:400px;
}
sivupalkki{
	float:right;
	background-color: blue;
	width:200px;
	height:500px;
	
}